/* Sección Hero */
.hero-nosotros {
  background: url("/hero-nosotros.jpg") no-repeat center center/cover;
  text-align: center;
  padding: 80px 20px;
  color: white;
}

.hero-nosotros h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-nosotros p {
  font-size: 1.2rem;
}

/* Secciones de contenido */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

.about-section.reverse {
  flex-direction: row-reverse;
}

.about-text {
  max-width: 500px;
}

.about-text h2 {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1.2rem;
  color: var(--color-dark);
}

.about-image {
  width: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botón CTA */
.unete-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: var(--color-primary);
  color: white;
  text-decoration: none;
  border-radius: var(--border-radius-sm);
  font-weight: bold;
  transition: background 0.3s ease;
}

.unete-button:hover {
  background: var(--color-hover);
  color: white; /* Asegura que el texto se mantenga legible */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade un efecto de sombra */
  transform: scale(1.05); /* Hace que el botón crezca un poco */
}
